.trending h1{
    font-family: "Righteous", sans-serif;


    font-weight: bold;
}
.circle{
    height: 100px;
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid grey;

}